.text-green {
    color: #28a745 !important;
}
  
.text-green:hover, .text-green:focus {
    color: #19692c !important;
}

.text-purple {
    color: #ac1db1 !important;
}
  
.text-purple:hover, .text-purple:focus {
    color: #7f1783 !important;
}

.text-darkest {
    color: #050505 !important;
}
  
.text-darkest:hover, .text-darkest:focus {
    color: #393a39 !important;
}

.text-orange {
    color: #d46f2c !important;
}
  
.text-orange:hover, .text-orange:focus {
    color: #a75117 !important;
}

.text-blue {
    color: #3d2fbd !important;
}
  
.text-blue:hover, .text-blue:focus {
    color: #2d2294 !important;
}

.text-red {
    color: #e90c0c !important;
}
  
.text-red:hover, .text-red:focus {
    color: #bb0b0b !important;
}

.bg-green {background-color: #28a745;}

.bg-purple {background-color: #ac1db1;}

.bg-darkest {background-color: #050505;} 

.bg-orange {background-color: #d46f2c;}

.bg-blue {background-color: #3d2fbd;}

.bg-red {background-color: #e90c0c;}

.template-imgs{
    max-width:200%;
    max-height:150%;
    width:auto;
    height:auto;
}
