{% extends "inc/template.phtml" %}
{% block container %}

<nav class="site-header sticy-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
  </div>
</nav>

<div class="row position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
    <div class="col-4">
        <div class="row">
            <div class="form-group">
                <label class="font-weight-bold">Escolha o template:</label>
                <div class="form-inline">
                    <div id="template1" path="/resources/assets/img/templates/template1.png" class="col-6 template-buttons">
                        <img class="img-thumbnail emplate-imgs" src="/resources/assets/img/templates/template1.jpeg" alt="" srcset="">
                    </div>
                    <div id="template2" path="/resources/assets/img/templates/template2.png" class="col-6 template-buttons">
                        <img class="img-thumbnail emplate-imgs" src="/resources/assets/img/templates/template2.jpeg" alt="" srcset="">
                    </div>
                    <div id="template3" path="/resources/assets/img/templates/template3.png" class="col-6 template-buttons">
                        <img class="img-thumbnail emplate-imgs" src="/resources/assets/img/templates/template3.jpeg" alt="" srcset="">
                    </div>
                    <div id="template4" path="/resources/assets/img/templates/template4.png" class="col-6 template-buttons">
                        <img class="img-thumbnail emplate-imgs" src="/resources/assets/img/templates/template4.jpeg" alt="" srcset="">
                    </div>                    
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="form-group">
                <label class="font-weight-bold">Escolha a cor de fundo:</label>
                <div class="form-inline">
                    <div id="darkest" color="bg-darkest" class="text-darkest color-buttons">
                        <i class="fas fa-square fa-2x"></i>
                    </div>
                    <div id="purple" color="bg-purple" class="ml-1 text-purple color-buttons">
                        <i class="fas fa-square fa-2x"></i>
                    </div>
                    <div id="green" color="bg-green" class="ml-1 text-green color-buttons">
                        <i class="fas fa-square fa-2x"></i>
                    </div>
                    <div id="orange" color="bg-orange" class="ml-1 text-orange color-buttons">
                        <i class="fas fa-square fa-2x"></i>
                    </div>
                    <div id="blue" color="bg-blue" class="ml-1 text-blue color-buttons">
                        <i class="fas fa-square fa-2x"></i>
                    </div>
                    <div id="red" color="bg-red" class="ml-1 text-red color-buttons">
                        <i class="fas fa-square fa-2x"></i>
                    </div>            
                </div>
            </div>  
        </div>
    </div>

    <div class="col-8 text-center">
        <div id="produto">            
            <div class="col-12">                
                <img class="img-fluid" id="img-template-art" src="" alt="" srcset="">
            </div>
        </div>       
    </div>
    
</div>

{% endblock %}
